<!DOCTYPE html>
<html lang="en">
  <meta>
    <meta charset="UTF-8">
    <title>Conditionals</title>
  </meta>
  <body>
    <div id="app">
      <!--v-if remove entirely from the dom-->
      <p v-if="show">You can see me!</p>
      <p v-else>Now you see me</p>
      <button @click="show = !show">Swticher</button>
      <!--Use display: none-->
      <p v-show="show">Do you also see me?</p>
      <hr>
      <ul>
        <li v-for="(ingredient, index) in ingredients">{{ingredient}}({{index}})</li>
      </ul>
      <!--v-for in different elements-->
      <template v-for="(ingredient, index) in ingredients">
        <h5>{{ingredient}}</h1>
        <p> {{index}}</p>
      </template>
    </div>
    <script src="vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data() {
          return {
            show: true,
            ingredients: ['meat', 'fruit', 'cookies']
          }
        }
      });
    </script>
  </body>
</html>